    # Model generation
    numpy
    torch>=2.0.0
    torchvision
    torchaudio
    -f https://data.pyg.org/whl/torch-2.0.0+cu117.html
    torch_geometric
    torch-scatter
    torch-sparse
    torch-spline-conv
    # Logging
    wandb
    # Tools
    notebook
